src/static.pug
extends layouts/default

block content
  .rafting-page
    // section hero
    section.hero
      .hero__inner
        h1 Рафтинг — осно<span>вы</span> безопасности 
        h2 правила поведения на воде
        p Перед началом экспедиции необходимо подать заявку в службы спасения с указанием маршрута и предполагаемыми местами стоянок, а также оговорить контрольные сроки пребывания на маршруте.
        a.btn(href="#") Подать заявку на сайте МЧС России
      .hero__rocks-1
    /// section hero
    // section requirement
    section.requirement
      .requirement__inner
        h2 Общие требования во время сплава
        p Сплав по горным рекам — занятие далеко не из разряда простых оно сложное и опасное. Однако при всей своей сложности и неординарности оно дает массу положительных эмоций, становится идеальным средством для снятия стрессов, позволяет получить мощный заряд бодрости на длительный период времени. Именно поэтому сегодня появляется все больше желающих освоить этот вид активного отдыха, причем с последующим неоднократным повторением в перспективе.
        ol.number-list.number-list_light
          li Каждый участник сплава должен обязательно находиться в застегнутом спасательном жилете и каске.
          li Запрещается самовольно покидать судно.
          li Расстояние между экипажами не должно превышать 30–100 метров.
          li Запрещается самовольно покидать назваченные инструктором места.
          li Необходимо строго соблюдать место забора питьевой воды.
          li Запрещается распивать спиртные напитки на воде.
          li На опасных участках при необходимости нужно высаживать людей и проходить данный участок пешком, возможно с обносом.
          li В большую воду обязательно нужна разведка сложных участков маршрута.
      .boat-slider
        .boat-slider__item
          .boat-slider__image
            img(src="f/i/boat-1.png")
          .boat-slider__text
            h3 Рафт
            p Сам термин происходит от английского слова raft, что в переводе означает плот. Рафтингом называется сплав на катамаранах, байдарках, каноэ, рафтах по бурной, богатой порогами, реке.
        .boat-slider__item
          .boat-slider__image
            img(src="f/i/boat-2.png")
          .boat-slider__text
            h3 Катамаран
            p Катамаран от тамильского — «связанные брёвна». Суда, состоящие из двух корпусов, соединены между собой палубным или ферменным мостом.
        .boat-slider__item
          .boat-slider__image
            img(src="f/i/boat-3.png")
          .boat-slider__text
            h3 Лодка
            p Небольшое гребное, парусное или моторное судно до девяти метров, шириной до трёх метров и грузоподъёмностью до пяти тонн.
        .boat-slider__item
          .boat-slider__image
            img(src="f/i/boat-4.png")
          .boat-slider__text
            h3 Плот
            p Древнейшее несамоходное плавучее сооружение, конструкция для плаванья, из связанных совместно брёвен или стеблей камыша, тростника, скрученных в пучки.
        .boat-slider__item
          .boat-slider__image
            img(src="f/i/boat-5.png")
          .boat-slider__text
            h3 Байдарка
            p Маломерное запалубленное судно, остроносая гребная легкая лодка, легко идущая даже по отмелям и заболоченным местам.
        .boat-slider__item
          .boat-slider__image
            img(src="f/i/boat-1.png")
          .boat-slider__text
            h3 Рафт-2
            p Сам термин происходит от английского слова raft, что в переводе означает плот. Рафтингом называется сплав на катамаранах, байдарках, каноэ, рафтах по бурной, богатой порогами, реке.
        .boat-slider__item
          .boat-slider__image
            img(src="f/i/boat-2.png")
          .boat-slider__text
            h3 Катамаран-2
            p Катамаран от тамильского — «связанные брёвна». Суда, состоящие из двух корпусов, соединены между собой палубным или ферменным мостом.
        .boat-slider__item
          .boat-slider__image
            img(src="f/i/boat-3.png")
          .boat-slider__text
            h3 Лодка-2
            p Небольшое гребное, парусное или моторное судно до девяти метров, шириной до трёх метров и грузоподъёмностью до пяти тонн.
    /// section requirement
    // section bad news
    section.bad-news
      h2 Сплавы по рекам закончившиеся трагедиями
      .news-slider
        .news-slider__item
          .news-slider__image
            img(src="f/i/news-1.jpg")
          .news-slider__text
            h3 Трагедия на реке Юрункаш
            p В результате двух последовательных аварийных ситуаций при сплаве по неразведанным участкам реки 24 и 27 августа 2007 года погибло трое из шести членов группы, включая руководителя, один человек пропал без вести. Двое выживших туристов были спасены в ходе совместной поисково-спасательной операции МЧС России и Министерства обороны КНР.
        .news-slider__item
          .news-slider__image
            img(src="f/i/news-2.jpg")
          .news-slider__text
            h3 Трагедия не реке Кита
            p 15 июля 2016 года группа туристов отправилась на сплав на слияние двух рек Китой и Ара-Ошей в Окинском районе Бурятии, в ходе которого погиб мужчина.
        .news-slider__item
          .news-slider__image
            img(src="f/i/news-3.jpg")
          .news-slider__text
            h3 Роковой рафтинг
            p 30 декабря 2012 в походе на надувных плотах по одной из рек в лесном парке Тараруа в Новой Зеландии. Из-за сильных дождей уровень воды в реке значительно вырос, и оскороносного звукорежиссёра («Кинг Конг», «Властелин колец», «Трансформеры») Майка Хопкинса сбило с плота волной от внезапно сошедшего потока воды. Его тело было найдено несколькими часами позже в реке.
        .news-slider__item
          .news-slider__image
            img(src="f/i/news-4.jpg")
          .news-slider__text
            h3 Трагедия на Урале
            p 24 апреля 2013 на популярном маршруте на реке Чусовой в Свердловской области, сплав закончился гибелью двух человек, когда лодка-моторка налетела близ камня Молоков на бревно. Третий человек сумел спастись. Поиски погибших еще не дали результатов.
        .news-slider__item
          .news-slider__image
            img(src="f/i/news-1.jpg")
          .news-slider__text
            h3 Трагедия на реке Юрункаш-2
            p В результате двух последовательных аварийных ситуаций при сплаве по неразведанным участкам реки 24 и 27 августа 2007 года погибло трое из шести членов группы, включая руководителя, один человек пропал без вести. Двое выживших туристов были спасены в ходе совместной поисково-спасательной операции МЧС России и Министерства обороны КНР.
        .news-slider__item
          .news-slider__image
            img(src="f/i/news-2.jpg")
          .news-slider__text
            h3 Трагедия не реке Кита-2
            p 15 июля 2016 года группа туристов отправилась на сплав на слияние двух рек Китой и Ара-Ошей в Окинском районе Бурятии, в ходе которого погиб мужчина.
    /// section bad news
    // warning
    section.warning
      .warning__intro
        h2 При сплавах обязательно надевать спасательные жилеты!
      .warning__bg-2
        .warning__text
          p Период отпусков и отдыха, связанного с водоемами, продолжается. Независимо от вида водоёма, будь то море, река, озеро или пруд каждый человек должен знать и неукоснительно соблюдать правила поведения и меры безопасности на воде.
    .warning-steps
      .warning-steps__content
        h2 Если вы попали в воду или судно перевернулось
        ol.number-list
          li Любыми способами постараться удержаться на судне. Необходимо использовать страховочные стремена по указанию инструктора.
          li Запрещается привязывать себя верёвками, застёжками, обматывать верёвки вокруг тела, вокруг ног, рук и т. д.
          li Не паниковать и не терять вёсел.
          li При попадании в холодную воду — главное не сбить дыхание.
          li Необходимо сосредоточиться и, не поддаваясь панике, оценить ситуацию.
          li Необходимо самостоятельно пытаться остаться на плаву до оказания помощи.
          li Осмотревшись, необходимо плыть к перевёрнутому судну или к ближайшему страховочному судну.
          li Если близко берег — плыть к берегу.
    /// warning

htdocs/static.html
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="Description">
    <meta content="" name="Keywords">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="HandheldFriendly" content="true">
    <link rel="icon" type="image/x-icon" href="https://www.mchs.gov.ru/favico.ico">
    <title>Рафтинг</title>
    <link href="f/css/libs.css" rel="stylesheet" type="text/css">
    <link href="f/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="iconset"><svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<defs>
		<symbol id="call"  viewBox="0 0 384 384" width="38" height="38">
			<path d="M234.667,170.667h96c5.891,0,10.667-4.776,10.667-10.667v-21.333c0-5.891-4.776-10.667-10.667-10.667h-44.5
				l94.709-94.709c4.166-4.166,4.166-10.919,0-15.085L365.794,3.124c-4.166-4.166-10.919-4.166-15.085,0L256,97.833v-44.5
				c0-5.891-4.776-10.667-10.667-10.667H224c-5.891,0-10.667,4.776-10.667,10.667v96
				C213.333,161.115,222.885,170.667,234.667,170.667z"/>
			<path d="M353.188,252.052c-23.521,0-46.604-3.677-68.479-10.906c-10.729-3.635-23.896-0.302-30.438,6.417l-43.167,32.594
				c-50.063-26.729-80.917-57.563-107.292-107.26l31.667-42.073c8.229-8.229,11.146-20.219,7.604-31.427
				c-7.25-22.021-10.938-45.104-10.938-68.583C132.146,13.823,118.333,0,101.333,0H30.812C13.812,0,0,13.823,0,30.812
				C0,225.563,158.438,384,353.188,384c17,0,30.813-13.823,30.813-30.813v-70.323C384,265.875,370.188,252.052,353.188,252.052z"/>
		</symbol>
		<symbol id="facebook" x="0px" y="0px" width="96.124px" height="96.123px" viewBox="0 0 96.124 96.123">
			<path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803
			c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654
			c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246
			c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"/>
		</symbol>
		<symbol id="vkontakte" viewBox="0 0 24 24" width="24" height="24">
			<path d="M11.701 18.771h1.437s.433-.047.654-.284c.21-.221.21-.63.21-.63s-.031-1.927.869-2.21c.887-.281 2.012 1.86 3.211 2.683.916.629 1.605.494 1.605.494l3.211-.044s1.682-.105.887-1.426c-.061-.105-.451-.975-2.371-2.76-2.012-1.861-1.742-1.561.676-4.787 1.469-1.965 2.07-3.166 1.875-3.676-.166-.48-1.26-.361-1.26-.361l-3.602.031s-.27-.031-.465.09c-.195.119-.314.391-.314.391s-.572 1.529-1.336 2.82c-1.623 2.729-2.268 2.879-2.523 2.699-.604-.391-.449-1.58-.449-2.432 0-2.641.404-3.75-.781-4.035-.39-.091-.681-.15-1.685-.166-1.29-.014-2.378.01-2.995.311-.405.203-.72.652-.539.675.24.03.779.146 1.064.537.375.506.359 1.636.359 1.636s.211 3.116-.494 3.503c-.495.262-1.155-.28-2.595-2.756-.735-1.26-1.291-2.67-1.291-2.67s-.105-.256-.299-.406c-.227-.165-.557-.225-.557-.225l-3.435.03s-.51.016-.689.24c-.166.195-.016.615-.016.615s2.686 6.287 5.732 9.453c2.79 2.902 5.956 2.715 5.956 2.715l-.05-.055z"/>
		</symbol>
		<symbol id="instagram" viewBox="0 0 24 24" width="24" height="24">
			<path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"/>
		</symbol>
		<symbol id="file" viewBox="14 16 36 48">
			<g>
				<path d="M43,64H21c-3.9,0-7-3.2-7-7V23c0-3.9,3.2-7,7-7h22c3.9,0,7,3.2,7,7v33.9C50,60.8,46.8,64,43,64z M21,18.6
					c-2.5,0-4.5,2-4.5,4.5v33.9c0,2.5,2,4.5,4.5,4.5h22c2.5,0,4.5-2,4.5-4.5l0-33.9c0-2.5-2-4.5-4.5-4.5H21z"/>
			</g>
			<path stroke="#8a8e94" stroke-width="2" stroke-miterlimit="10" d="M40.3,35.2c-0.3-0.3-0.8-0.3-1.1,0l-6.3,6.3V24.9
				c0-0.4-0.4-0.8-0.8-0.8c-0.4,0-0.8,0.4-0.8,0.8v16.6l-6.3-6.3c-0.3-0.3-0.8-0.3-1.1,0c-0.3,0.3-0.3,0.8,0,1.1l7.7,7.7c0,0,0,0,0,0
				c0.2,0.2,0.4,0.2,0.6,0.2c0,0,0,0,0,0c0,0,0,0,0,0c0.2,0,0.4-0.1,0.6-0.2c0,0,0,0,0,0l7.7-7.7C40.6,36,40.6,35.5,40.3,35.2z"/>
			<path d="M20.4,57L20.4,57L20.4,57z"/>
			<path d="M20.9,55.5h-0.1c-0.3,0-0.6,0.1-0.8,0.3c-0.2,0.2-0.3,0.5-0.3,0.8c0,0.3,0.1,0.6,0.3,0.8
				c0.2,0.2,0.5,0.3,0.8,0.3h0.1c0.3,0,0.6-0.1,0.8-0.3c0.2-0.2,0.3-0.5,0.3-0.8c0-0.3-0.1-0.6-0.3-0.8C21.5,55.6,21.2,55.5,20.9,55.5z
					M20.4,57L20.4,57L20.4,57L20.4,57z"/>
			<path d="M23.8,57.7c0.3,0,0.5-0.1,0.7-0.3c0.2-0.2,0.3-0.4,0.3-0.7v-1.8h1.5c1.1,0,2-0.3,2.6-0.9
				c0.5-0.5,0.8-1.2,0.8-2c0-0.8-0.3-1.4-0.8-2c-0.6-0.6-1.5-0.9-2.6-0.9h-2.5c-0.3,0-0.5,0.1-0.7,0.3c-0.2,0.2-0.3,0.4-0.3,0.7v6.6
				c0,0.3,0.1,0.5,0.3,0.7C23.3,57.6,23.5,57.7,23.8,57.7z M27.7,52c0,0.3-0.1,0.5-0.2,0.6c-0.2,0.2-0.7,0.3-1.3,0.3h-1.4v-2h1.4
				c0.3,0,0.6,0,0.8,0.1C27.5,51.3,27.7,51.6,27.7,52z"/>
			<path d="M36.4,50.5c-0.8-0.9-1.9-1.4-3.2-1.4H31c-0.3,0-0.5,0.1-0.7,0.3c-0.2,0.2-0.3,0.4-0.3,0.7v6.5
				c0,0.3,0.1,0.5,0.3,0.7c0.2,0.2,0.4,0.3,0.7,0.3h2.2c1.3,0,2.4-0.5,3.2-1.4c0.4-0.4,0.6-0.9,0.8-1.4c0.2-0.5,0.3-1,0.3-1.5
				c0-0.5-0.1-1-0.3-1.5C37,51.4,36.7,50.9,36.4,50.5z M32,51H33c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.7,1,0.7,1.7c0,0.7-0.2,1.3-0.7,1.7
				c-0.5,0.4-1.1,0.7-1.8,0.7H32V51z"/>
			<path d="M39.1,57.7c0.3,0,0.5-0.1,0.7-0.3c0.2-0.2,0.3-0.4,0.3-0.7v-2.4h2.8c0.3,0,0.5-0.1,0.7-0.3
				c0.2-0.2,0.3-0.4,0.3-0.7c0-0.3-0.1-0.5-0.3-0.7c-0.2-0.2-0.4-0.3-0.7-0.3h-2.8V51h3.2c0.3,0,0.5-0.1,0.7-0.3
				c0.2-0.2,0.3-0.4,0.3-0.7c0-0.3-0.1-0.5-0.3-0.7c-0.2-0.2-0.4-0.3-0.7-0.3h-4.2c-0.3,0-0.5,0.1-0.7,0.3c-0.2,0.2-0.3,0.4-0.3,0.7
				v6.6c0,0.3,0.1,0.5,0.3,0.7C38.6,57.6,38.8,57.7,39.1,57.7z"/>
	</symbol>
	<symbol id="arrow-right" width="11" height="21" viewBox="0 0 11 21">
		<path fill-rule="evenodd" d="M1.005 20.984l-.999-1.04 9.004-9.445L.006 1.055 1.005.014l9.996 10.485-9.996 10.485z"/>
	</symbol>

	<symbol id="close" width="17" height="17" viewBox="0 0 17 17">
			<path ill-rule="evenodd" d="M16.985 16.278l-.707.707L8.5 9.207.722 16.985l-.707-.707L7.793 8.5.015.722.722.015 8.5 7.793 16.278.015l.707.707L9.207 8.5l7.778 7.778z"/>
	</symbol>
	</defs>
</svg>
    </div>
    <div class="rafting-page">
      <!-- section hero-->
      <section class="hero">
        <div class="hero__inner">
          <h1>Рафтинг — осно<span>вы</span> безопасности </h1>
          <h2>правила поведения на воде</h2>
          <p>Перед началом экспедиции необходимо подать заявку в службы спасения с указанием маршрута и предполагаемыми местами стоянок, а также оговорить контрольные сроки пребывания на маршруте.</p><a class="btn" href="#">Подать заявку на сайте МЧС России</a>
        </div>
        <div class="hero__rocks-1"></div>
      </section>
      <!--/ section hero-->
      <!-- section requirement-->
      <section class="requirement">
        <div class="requirement__inner">
          <h2>Общие требования во время сплава</h2>
          <p>Сплав по горным рекам — занятие далеко не из разряда простых оно сложное и опасное. Однако при всей своей сложности и неординарности оно дает массу положительных эмоций, становится идеальным средством для снятия стрессов, позволяет получить мощный заряд бодрости на длительный период времени. Именно поэтому сегодня появляется все больше желающих освоить этот вид активного отдыха, причем с последующим неоднократным повторением в перспективе.</p>
          <ol class="number-list number-list_light">
            <li>Каждый участник сплава должен обязательно находиться в застегнутом спасательном жилете и каске.</li>
            <li>Запрещается самовольно покидать судно.</li>
            <li>Расстояние между экипажами не должно превышать 30–100 метров.</li>
            <li>Запрещается самовольно покидать назваченные инструктором места.</li>
            <li>Необходимо строго соблюдать место забора питьевой воды.</li>
            <li>Запрещается распивать спиртные напитки на воде.</li>
            <li>На опасных участках при необходимости нужно высаживать людей и проходить данный участок пешком, возможно с обносом.</li>
            <li>В большую воду обязательно нужна разведка сложных участков маршрута.</li>
          </ol>
        </div>
        <div class="boat-slider">
          <div class="boat-slider__item">
            <div class="boat-slider__image"><img src="f/i/boat-1.png"></div>
            <div class="boat-slider__text">
              <h3>Рафт</h3>
              <p>Сам термин происходит от английского слова raft, что в переводе означает плот. Рафтингом называется сплав на катамаранах, байдарках, каноэ, рафтах по бурной, богатой порогами, реке.</p>
            </div>
          </div>
          <div class="boat-slider__item">
            <div class="boat-slider__image"><img src="f/i/boat-2.png"></div>
            <div class="boat-slider__text">
              <h3>Катамаран</h3>
              <p>Катамаран от тамильского — «связанные брёвна». Суда, состоящие из двух корпусов, соединены между собой палубным или ферменным мостом.</p>
            </div>
          </div>
          <div class="boat-slider__item">
            <div class="boat-slider__image"><img src="f/i/boat-3.png"></div>
            <div class="boat-slider__text">
              <h3>Лодка</h3>
              <p>Небольшое гребное, парусное или моторное судно до девяти метров, шириной до трёх метров и грузоподъёмностью до пяти тонн.</p>
            </div>
          </div>
          <div class="boat-slider__item">
            <div class="boat-slider__image"><img src="f/i/boat-4.png"></div>
            <div class="boat-slider__text">
              <h3>Плот</h3>
              <p>Древнейшее несамоходное плавучее сооружение, конструкция для плаванья, из связанных совместно брёвен или стеблей камыша, тростника, скрученных в пучки.</p>
            </div>
          </div>
          <div class="boat-slider__item">
            <div class="boat-slider__image"><img src="f/i/boat-5.png"></div>
            <div class="boat-slider__text">
              <h3>Байдарка</h3>
              <p>Маломерное запалубленное судно, остроносая гребная легкая лодка, легко идущая даже по отмелям и заболоченным местам.</p>
            </div>
          </div>
          <div class="boat-slider__item">
            <div class="boat-slider__image"><img src="f/i/boat-1.png"></div>
            <div class="boat-slider__text">
              <h3>Рафт-2</h3>
              <p>Сам термин происходит от английского слова raft, что в переводе означает плот. Рафтингом называется сплав на катамаранах, байдарках, каноэ, рафтах по бурной, богатой порогами, реке.</p>
            </div>
          </div>
          <div class="boat-slider__item">
            <div class="boat-slider__image"><img src="f/i/boat-2.png"></div>
            <div class="boat-slider__text">
              <h3>Катамаран-2</h3>
              <p>Катамаран от тамильского — «связанные брёвна». Суда, состоящие из двух корпусов, соединены между собой палубным или ферменным мостом.</p>
            </div>
          </div>
          <div class="boat-slider__item">
            <div class="boat-slider__image"><img src="f/i/boat-3.png"></div>
            <div class="boat-slider__text">
              <h3>Лодка-2</h3>
              <p>Небольшое гребное, парусное или моторное судно до девяти метров, шириной до трёх метров и грузоподъёмностью до пяти тонн.</p>
            </div>
          </div>
        </div>
      </section>
      <!--/ section requirement-->
      <!-- section bad news-->
      <section class="bad-news">
        <h2>Сплавы по рекам закончившиеся трагедиями</h2>
        <div class="news-slider">
          <div class="news-slider__item">
            <div class="news-slider__image"><img src="f/i/news-1.jpg"></div>
            <div class="news-slider__text">
              <h3>Трагедия на реке Юрункаш</h3>
              <p>В результате двух последовательных аварийных ситуаций при сплаве по неразведанным участкам реки 24 и 27 августа 2007 года погибло трое из шести членов группы, включая руководителя, один человек пропал без вести. Двое выживших туристов были спасены в ходе совместной поисково-спасательной операции МЧС России и Министерства обороны КНР.</p>
            </div>
          </div>
          <div class="news-slider__item">
            <div class="news-slider__image"><img src="f/i/news-2.jpg"></div>
            <div class="news-slider__text">
              <h3>Трагедия не реке Кита</h3>
              <p>15 июля 2016 года группа туристов отправилась на сплав на слияние двух рек Китой и Ара-Ошей в Окинском районе Бурятии, в ходе которого погиб мужчина.</p>
            </div>
          </div>
          <div class="news-slider__item">
            <div class="news-slider__image"><img src="f/i/news-3.jpg"></div>
            <div class="news-slider__text">
              <h3>Роковой рафтинг</h3>
              <p>30 декабря 2012 в походе на надувных плотах по одной из рек в лесном парке Тараруа в Новой Зеландии. Из-за сильных дождей уровень воды в реке значительно вырос, и оскороносного звукорежиссёра («Кинг Конг», «Властелин колец», «Трансформеры») Майка Хопкинса сбило с плота волной от внезапно сошедшего потока воды. Его тело было найдено несколькими часами позже в реке.</p>
            </div>
          </div>
          <div class="news-slider__item">
            <div class="news-slider__image"><img src="f/i/news-4.jpg"></div>
            <div class="news-slider__text">
              <h3>Трагедия на Урале</h3>
              <p>24 апреля 2013 на популярном маршруте на реке Чусовой в Свердловской области, сплав закончился гибелью двух человек, когда лодка-моторка налетела близ камня Молоков на бревно. Третий человек сумел спастись. Поиски погибших еще не дали результатов.</p>
            </div>
          </div>
          <div class="news-slider__item">
            <div class="news-slider__image"><img src="f/i/news-1.jpg"></div>
            <div class="news-slider__text">
              <h3>Трагедия на реке Юрункаш-2</h3>
              <p>В результате двух последовательных аварийных ситуаций при сплаве по неразведанным участкам реки 24 и 27 августа 2007 года погибло трое из шести членов группы, включая руководителя, один человек пропал без вести. Двое выживших туристов были спасены в ходе совместной поисково-спасательной операции МЧС России и Министерства обороны КНР.</p>
            </div>
          </div>
          <div class="news-slider__item">
            <div class="news-slider__image"><img src="f/i/news-2.jpg"></div>
            <div class="news-slider__text">
              <h3>Трагедия не реке Кита-2</h3>
              <p>15 июля 2016 года группа туристов отправилась на сплав на слияние двух рек Китой и Ара-Ошей в Окинском районе Бурятии, в ходе которого погиб мужчина.</p>
            </div>
          </div>
        </div>
      </section>
      <!--/ section bad news-->
      <!-- warning-->
      <section class="warning">
        <div class="warning__intro">
          <h2>При сплавах обязательно надевать спасательные жилеты!</h2>
        </div>
        <div class="warning__bg-2">
          <div class="warning__text">
            <p>Период отпусков и отдыха, связанного с водоемами, продолжается. Независимо от вида водоёма, будь то море, река, озеро или пруд каждый человек должен знать и неукоснительно соблюдать правила поведения и меры безопасности на воде.</p>
          </div>
        </div>
      </section>
      <div class="warning-steps">
        <div class="warning-steps__content">
          <h2>Если вы попали в воду или судно перевернулось</h2>
          <ol class="number-list">
            <li>Любыми способами постараться удержаться на судне. Необходимо использовать страховочные стремена по указанию инструктора.</li>
            <li>Запрещается привязывать себя верёвками, застёжками, обматывать верёвки вокруг тела, вокруг ног, рук и т. д.</li>
            <li>Не паниковать и не терять вёсел.</li>
            <li>При попадании в холодную воду — главное не сбить дыхание.</li>
            <li>Необходимо сосредоточиться и, не поддаваясь панике, оценить ситуацию.</li>
            <li>Необходимо самостоятельно пытаться остаться на плаву до оказания помощи.</li>
            <li>Осмотревшись, необходимо плыть к перевёрнутому судну или к ближайшему страховочному судну.</li>
            <li>Если близко берег — плыть к берегу.</li>
          </ol>
        </div>
      </div>
      <!--/ warning-->
    </div>
    <script src="f/js/vendor.js" type="text/javascript"></script>
    <script src="f/js/main.js" type="text/javascript"></script>
  </body>
</html>
